trainzApp.controller('TrainsController', ['$rootScope', '$scope', 'AudioService', 'osmAPI', 'overpassAPI',
function ($rootScope, $scope, AudioService, osmAPI, overpassAPI) {
  // TEMP
  $scope.trainPathCoordinates = [];
  // Trains
  $scope.config = {
    controls: {
      speed: 0.0001,
      follow: false
    }
  };

  $scope.timer;
  $scope.followIndex = 0;
  $scope.routes = []

  $rootScope.$on('trainChanged', function(event, train) {
    $scope.train = train;
    $('.messages').append('<p class="train">loading train ...</p>');
    $.get("/trains/" + train.id, function(data) {
      $rootScope.$broadcast('trainFetched', data)
      $('.messages .train').remove()
    }, "json");
  });

  $scope.horn = function () {
    AudioService.play();
  };

  $scope.speedChanged = function() {
    AudioService.setSpeed($scope.config.controls.speed / 350.);
    $scope.overlay.speed = $scope.config.controls.speed;
  };

  $scope.followChanged = function() {
    $scope.overlay.follow = $scope.config.controls.follow;
  };
  $scope.followIndexChanged = function() {
    $scope.overlay.setFollowIndex($scope.followIndex);
  };

  // AudioService.init();
}]);
