trainzApp.controller('TrainsController', ['$rootScope', '$scope', 'AudioService',
function ($rootScope, $scope, AudioService) {
  // TEMP
  $scope.trainPathCoordinates = [];
  // Trains
  $scope.config = {
    controls: {
      speed: 0.0001,
      follow: false,
      followIndex: 0
    }
  };

  $scope.timer;
  $scope.routes = []

  $rootScope.$on('trainChanged', function(event, train) {
    $scope.train = train;
    $('.messages').append('<p class="train">loading train ...</p>');
    $.get("/trains/" + train.id, function(data) {
      $rootScope.$broadcast('trainFetched', data)
      $('.messages .train').remove()
    }, "json");
  });

  $scope.horn = function () {
    AudioService.play();
  };

  $scope.speedChanged = function() {
    $rootScope.$broadcast('controlsChanged', $scope.config.controls)
  };

  $scope.followChanged = function() {
    $rootScope.$broadcast('controlsChanged', $scope.config.controls)
  };
  $scope.followIndexChanged = function() {
    $rootScope.$broadcast('controlsChanged', $scope.config.controls)
  };

  // AudioService.init();
}]);
