h2 Settings
p Start by picking a country and the specific train company that you would like to control.
= select_tag "country", country_select_options, { :chosen => true }
= select_tag "company", company_select_options, { :chosen => true }